---
---

@import "{{ site.theme }}";

table {
  border: 1px solid #373737;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;
 }