---
---
$header-heading-color: #fff !default;
$header-bg-color: #174869 !default;
$header-bg-color-secondary: #102c3d !default;

@import "{{ site.theme }}";

.page-header {
  background-color: $header-bg-color;
  background-image: url("https://monolithprojects.github.io/images/space2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.site-footer {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("https://monolithprojects.github.io/images/space.jpg");
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  @include large {
    padding: 2rem 2rem;
  }

  @include medium {
    padding: 2rem 2rem;
  }

  @include small {
    padding: 2rem 2rem;
  }
}

.main-content {
  img[src$="centerme"] {
    display:block;
    margin: 0 auto;
    max-width: 100%;
  }
}